SOURCE_URL=http://localhost:8080/flights.html
SOURCE_URLS=http://localhost:8080/flights.html,http://localhost:8080/flights.html
DATABASE_URL=postgresql+asyncpg://scrapping:scrapping@localhost:5432/scrapping_app
